@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.glass-bg {
		background: linear-gradient(
			112.15deg,
			rgba(255, 255, 255, 0.3) 1.06%,
			rgba(255, 255, 255, 0.06) 100%
		);
		@apply shadow-lg backdrop-blur-lg;
	}

	.headerText {
		@apply lg:text-7xl md:text-6xl sm:text-5xl text-4xl font-bold;
	}
}

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
