@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.glass-bg {
		background: linear-gradient(
			112.15deg,
			rgba(255, 255, 255, 0.3) 1.06%,
			rgba(255, 255, 255, 0.06) 100%
		);

		/* border: 0 2px solid
			linear-gradient(-112.15deg, rgba(255, 255, 255, 0.3) 1.06%, rgba(255, 255, 255, 0.06) 100%); */
		/* border: solid;
		border-width: 0 2px;
		border-color: linear-gradient(
			-112.15deg,
			rgba(255, 255, 255, 0.3) 1.06%,
			rgba(255, 255, 255, 0.06) 100%
		); */
		@apply shadow-lg backdrop-blur-lg;
	}
}

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}
